.landingPageButtons, button, .accessible{
    color: black;
    justify-content: space-between;
    align-items: center;
}

.sizeButton{
    height: 75px;
    width: 250px;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: medium;
}

.returnButton{
    height: 50px;
    width: 200px;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: medium;
    align-items: center;
}

.landingPageButtons{
    display: flex;
}


body{
    font-family: Arial, Helvetica, sans-serif;
}