
:root {
    --primary: #000;
    --secondary: #3c3c3c;
    --accent: #c70000;
    --background-primary: #fafafa;
    --background-secondary: #fff;
}

body {
    background-color: var(--background-primary);
    margin: 0em;
}

* {
    scroll-behavior: smooth;
}

h1, h2, h3, body, p, a {
	font-family: "Arial", sans-serif;
	color: var(--primary);
}

.top-section, .main-section {
    padding: 2em;
}
.top-section{ 
    background-color: var(--background-primary);
}

.main-section{ 
    background-color: var(--background-secondary);
}

.link-section {
    position: fixed;
    bottom: 4em;
    right: 2em;
}

a {
    color: var(--accent);
    font-weight: bold;
}



.link-section a {
    border: solid;
    background-color: var(--accent);
    border-color: var(--accent);
    padding: 0.5em 2em 0.5em 2em;
    color: var(--background-primary);
    border-radius: 10em;
    font-size: 2em;
    font-weight: bold;
}

.link-section a:hover {
    background-color: white;
    color: var(--accent);
}

.main-section img {
    height: 300px;
    width: auto;
}

h1 {
    font-size: 4em;
    font-weight: bold;
}

h2 {
    margin-top: 2em;
    text-transform: uppercase;
}

h2, h3 {
    font-size: 2em;
    margin-top: 4em;
}

p, li {
    font-size: 1.5em;
}

li {
    text-align: left;
}


.line, .form-section{
	border-style: solid;
    border-color: slategray;
	border-width: 1px;
}

.line {
    margin: 0;
}

.form-section {
    padding: 4em;
    border-width: 2px;
}

/* Timeline taken from codepen and modified */
.design-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.design {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
.timeline-content {
    height: 10em;
    overflow-wrap: break-word !important;
    margin: 1rem;
    margin-bottom: 20px;
}
  
  .timeline-component {
    margin: -10px 20px 20px 20px;
  }
  a{ 
    text-decoration: none;
  }

  .top-section a {
    font-size: 2em;
  }

  .right-responsive {
    text-align: left;
  }

  /* Large screen only */
  @media screen and (min-width: 768px) {
    .top-section, .main-section {
        padding: 3em;
    }

    .right-responsive {
        text-align: right;
      }
    .timeline {
      display: grid;
      grid-template-columns: 1fr 3px 1fr;
    }
    .timeline-middle {
      position: relative;
      background-color: var(--secondary);
      width: 2px;
    }
    .main-middle {
      opacity: 0;
    }
    .timeline-circle {
      position: absolute;
      top: 0;
      left: 50%;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: var(--accent);
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
    }
  }

footer {
    padding: 1em;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

footer a, footer p {
    font-size: 1em;
}